@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model bit285_assignment2_login.Models.User
@{
    Layout = "_Layout";
    ViewBag.Title = "Confirm Account Info";
}
<h1>New Account Created</h1>

<form asp-action="ConfirmAccount">
    <fieldset>
        <div>
            <label asp-for="FirstName"></label>
            <span>@Model.FirstName</span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <span>@Model.LastName</span>
        </div>
        <div>
            <label asp-for="Program"></label>
            <span>@Model.Program</span>
        </div>
        <div>
            <label asp-for="EmailAddress"></label>
            <span>@Model.EmailAddress</span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <span>@Model.Password</span>
        </div>
    </fieldset>
</form>
<a asp-controller="Login"
   asp-action="Index"
   asp-route-id="@Model.Id">Go to Login Page</a>